.page-title-container {
  background: #E6EAED url("/assets/global/images/bc-subhead-bg.png") no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}
.page-title-container h1 {
  color: #fff;
  line-height: 86px;
}
#main_content {
  outline: none;
}
#survey-first-ques-container {
  width: 120%;
  padding: 20px;
  background-color: white;
  font-size: 12px;
}
#survey-first-ques-container img {
  height: 30px;
  width: 30px;
  vertical-align: text-top;
}
#survey-first-ques-container .header {
  font-size: 20px;
  font-weight: bold;
}
#survey-first-ques-container .header-content {
  font-size: 13px;
}
#survey-first-ques-container .sub-header {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}
#survey-first-ques-container .finish-header {
  margin-top: 20px;
  margin-bottom: 10px;
}
#survey-first-ques-container .finish-info {
  vertical-align: -webkit-baseline-middle;
}
#survey-first-ques-container .sub-header-title {
  display: inline-flex;
  margin-bottom: 20px;
}
#survey-first-ques-container .sub-header-title span {
  font-size: 13px;
}
#survey-first-ques-container .sub-header-title .content {
  margin-right: 100px;
}
#survey-first-ques-container .input-label {
  vertical-align: text-bottom;
  font-size: 14px;
}
#survey-first-ques-container .input-text-label {
  vertical-align: top;
  font-size: 13px;
}
#survey-first-ques-container .required-label {
  color: #169bd5;
}
#survey-first-ques-container .doctorPhoneNumber {
  margin-left: 49px!important;
}
#survey-first-ques-container .officeHours {
  margin-left: 69px!important;
}
#survey-first-ques-container .afterHoursNumber {
  margin-left: 25px!important;
}
#survey-first-ques-container .careCenterPhoneNumber {
  margin-left: 55px!important;
}
#survey-first-ques-container .careCenterOpeningHours {
  margin-left: 107px!important;
}
#survey-first-ques-container input[type='checkbox'] {
  margin-bottom: 10px;
  zoom: 1.2;
}
#survey-first-ques-container input[type='radio'] {
  margin-bottom: 20px;
  zoom: 1.3;
}
#survey-first-ques-container input[type='text'] {
  margin-bottom: 10px;
  width: 320px;
  margin-left: 50px;
}
#survey-first-ques-container .form-error {
  color: red;
}
#survey-first-ques-container .phone-number-error {
  margin-left: 140px;
}
#survey-first-ques-container .btn-container {
  margin-top: 20px;
}
#survey-first-ques-container .prev-btn {
  margin-right: 20px;
}
#survey-first-ques-container button {
  border-width: 0px;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #169bd5;
  color: #fff;
}
#survey-first-ques-container .answered-incorrectly button {
  width: 214px;
}
#survey-first-ques-container .submit-2nd-Q {
  width: 305px;
}
#survey-first-ques-container b {
  font-size: 14px;
}
#survey-first-ques-container .survey-confirm-msg {
  margin-top: 10px;
}
#survey-first-ques-container .survey-confirm-msg .header-1 {
  font-size: 16px;
  margin-top: 10px;
}
#survey-first-ques-container .survey-confirm-msg button {
  width: 300px;
  font-size: 16px;
  margin-top: 30px;
}
#survey-first-ques-container #pdfDocument {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  @page { margin: 0!important; }
}